spring:
    profiles:
        active: dev
---
server:
  port: 8002
spring:
    profiles: dev
eureka:
  instance:
    hostname: eureka-server-8002
  client:
    registry-fetch-interval-seconds: 10
    fetch-registry: false  
    register-with-eureka: false  
    service-url:
      defaultZone: http://localhost:8003/eureka/,http://localhost:8004/eureka/
      #单机eureka只需要写自己的地址，集群需要写其他的eureka地址
---
server:
  port: 8003
spring:
    profiles: test
eureka:
  instance:
    hostname: eureka-server-8002 
  client:
    registry-fetch-interval-seconds: 10
    fetch-registry: false  
    register-with-eureka: false  
    service-url:
      defaultZone: http://localhost:8003/eureka/,http://localhost:8004/eureka/
      #单机eureka只需要写自己的地址，集群需要写其他的eureka地址